@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Young Serif";
    src: url("./fonts/young-serif/YoungSerif-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/outfit/Outfit-VariableFont_wght.ttf");
}